@model TaskAndCategoryVM

<form asp-controller="Task" asp-action="AddNew" method="post" class="form-style >
    <input type="hidden" asp-for=Task.Id >
     <h3>Type all challenges here</h3>
    <div class="col-sm-8">
        <div>
            <textarea id="editor" asp-for=Task.Description class="form-control" rows="5"></textarea>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x=>Model.Categories, htmlAttributes: new { @class = "control-label col-sm-8 categoryStyle" })
    <div class="col-sm-4">
        @Html.DropDownListFor(x=>x.Task.Category.CategoryId, new SelectList(Model.Categories.Select(i=> new {Text = i.CategoryId, Value = i.CategoryName}), "Text", "Value"), htmlAttributes: new { @class = "form-control", id = "Category Name"})
    </div>
    </div>
    <input type="submit" value="Save" class="btn btn-primary buttonsMargin " />
    <a asp-action="Index" class="btn btn-dark buttonsMargin">Cancel</a>
</form>


<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
<script src="https://cdn.tiny.cloud/1/pn04dhiazzimcezx1ab47k7vc9pv0ygbgrfpr9g5cdmgy9e3/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    ClassicEditor
        .create( document.querySelector( '#editor' ),{
         plugins: [
            SpecialCharacters, SpecialCharactersEssentials, SpecialCharactersEmoji
        ],
        toolbar: [ 'specialCharacters', ... ],
        } )
        .then( editor => {
            console.log( editor );
        } )
        .catch( error => {
            console.error( error );
        } );
</script>
<script>
  tinymce.init({
    selector: "#editor",
    plugins: "emoticons",
    toolbar: "emoticons",
    toolbar_location: "bottom",
    menubar: false
  });
</script>