@model DailyDo.Models.Task

<form asp-controller="Task" asp-action="Update" method="post" class="form-style">
    <h3>Edit your Task:</h3>
    <input type="hidden" asp-for=Id value="@Model.Id" >
    <input type="hidden" asp-for="ModificationDate" value="@Model.ModificationDate" />
    <input type="hidden" asp-for="IsDone" value="@Model.IsDone" />
    <div class="col-sm-8">
        <div>
            <textarea id="editor" asp-for=Description class="form-control" rows="5"></textarea>
        </div>
    </div>
    <input type="submit" value="Save" class="btn btn-primary buttonsMargin " />
    <a asp-action="Index" class="btn btn-dark buttonsMargin">Cancel</a>
</form>



<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
<script src="https://cdn.tiny.cloud/1/pn04dhiazzimcezx1ab47k7vc9pv0ygbgrfpr9g5cdmgy9e3/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    ClassicEditor
        .create( document.querySelector( '#editor' ),{
         plugins: [
            SpecialCharacters, SpecialCharactersEssentials, SpecialCharactersEmoji
        ],
        toolbar: [ 'specialCharacters', ... ],
        } )
        .then( editor => {
            console.log( editor );
        } )
        .catch( error => {
            console.error( error );
        } );
</script>
<script>
  tinymce.init({
    selector: "#editor",
    plugins: "emoticons",
    toolbar: "emoticons",
    toolbar_location: "bottom",
    menubar: false
  });
</script>
