@model List<DailyDo.Models.Task>


<div class="card w-50" style="width: 20rem;">
    <div class="card-header">
        Today
    </div>
    @foreach (var item in Model)
    {
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                @Html.Raw(item.Description)
                <a  asp-action="EditForm" asp-route-id="@item.Id" class="float-end"><img class="icons" src="/images/edit-file.svg" alt="Edit icon" /></a>
                <a class="icons float-end icons"><img src="/images/close.svg" alt="Delete icon"/></a>
            </li>
        </ul>
    }
</div>
<a class="btn btn-primary buttonsMargin" asp-action="AddNewForm">Add new </a>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>