@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi! Let's get started</h1>
    <img src="~/images/homepage_picture.png" alt="Figures" width="400" height="300" />
    </div>
    <div class="container-style">
        <a class="btn btn-dark" asp-controller="Task" asp-action="Index">See Tasks</a>
    </div>
    
